*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
:root {
    --dark-color: rgb(34, 34, 34);
    --green:rgb(70, 91, 82);
  }

h1{
    font-size: 50px;
    line-height: 64px;
    color: var(--dark-color);
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: var(--dark-color);
}

h4{
    font-size: 20px;
    color: var(--dark-color);
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: var(--green);
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/*HEADER START*/

